body {
	margin: 0;
	scroll-behavior-y: contain
}

.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button {
	margin: 1vw;
	font-size: 5vh;
	padding: 1vw;
	background: white;
	border: 0.5vh solid #899870;
	border-radius: 2vh;
	cursor: pointer;
}